page-driver {
  .banner{
    background:rgb(23, 69, 214);
    height:60%;
    text-align: center;
  }
  .select-box{
    padding-top: 5px;
    height: 60%;
    background: white;
    display: inline-block;
    width: 241px;
    margin-top: 40px;
    box-shadow: 0px 8px 30px -6px #777;
  }
}
