<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <div style="text-align:center" *ngIf="mode == 'pickup'">
  <img src="assets/imgs/switch_blue.png" class="logo" />
  <img src="assets/imgs/confirm_passenger.svg" class="illus" />
  <h3>Would you like to pickup someone on your way?</h3>
  <h6>Passenger is 6 minutes away from here</h6>
  <button ion-button round color="secondary" style="width:175px" (click)="confirmPassenger()">Yes</button>
  <button ion-button round color="danger" style="width:175px">No</button>
  </div>

  <div style="text-align:center" *ngIf="mode == 'destination'">
  <img src="assets/imgs/switch_blue.png" class="logo" />
  <img src="assets/imgs/confirm_passenger.svg" class="illus" />
  <h3>Hey! Are you travelling to {{data}}</h3>
  <button ion-button round color="secondary" style="width:175px" (click)="setDestination()">Yes</button>
  <button ion-button round color="danger" style="width:175px">No</button>
  </div>


</ion-content>
